* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greyish-blue: hsl(220, 15%, 55%);
    --light-grey: hsl(212, 45%, 89%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--light-grey);
    font-family: 'Outfit', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.qr-component {
    width: 300px;
    background-color: var(--white);
    padding: 15px;
    border-radius: 20px;

    display: flex;
    flex-flow: column nowrap;
}